@model Lab12.Models.HomeModel
<title>@Model.Title</title>
<h1>@Model.Heading</h1>
<div>
    <ul>
        <li><a href="/CalcService/Manual">@Model.UsingActions[0]</a></li>
        <li><a href="/CalcService/ManualWithSeparateHandlers">@Model.UsingActions[1]</a></li>
        <li><a href="/CalcService/ModelBindingParameters">@Model.UsingActions[2]</a></li>
        <li><a href="/CalcService/ModelBindingInSeparateModels">@Model.UsingActions[3]</a></li>
    </ul>
</div>
