<title>@ViewBag.Title</title>
<h1>@ViewBag.Heading</h1>
<div>

</div>
<script>
    const numb1 = parseFloat(@ViewBag.numb1)
    const numb2 = parseFloat(@ViewBag.numb2)
    const math = '@ViewBag.math'
</script>

<script src="/js/caculate.js"></script>